<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- xmlns:th="http://www.thymeleaf.org" : 현재 html 파일에서 thymeleaf 엔진을 사용한다는 의미 -->
<!-- html 태그에 속성으로 추가 -->
<!-- html 태그에 'th:' 이라는 속성명으로 thymeleaf를 사용할 수 있음 -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>thymeleaf 사용하기</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>

</head>
<body>
  <div class="container mt-5">
    <h1>thymeleaf 사용하기</h1>
<!--  thymeleaf : 스프링 프레임워크에서 공식 지원하는 템플릿 엔진  -->
<!--    jsp는 스프링 프레임워크에서 더이상 공식 지원하지 않음 -->
<!--    jsp를 사용하고자 할 경우 추가적인 설정이 필요함 -->

<!--    gradle 설정에서 종속성을 추가해야 thymeleaf를 사용할 수 있음 -->
<!--    implementation 'org.springframework.boot:spring-boot-starter-thymeleaf' -->

<!--    application.properties 에 설정을 추가하여 사용할 수 있음 -->
<!--    미설정 시 기본 설정값으로 동작함 -->
<!--    spring.thymeleaf.prefix=classpath:templates/  : 템플릿 파일의 위치 설정 -->
<!--    spring.thymeleaf.suffix=.html  : view 파일의 기본 확장자 설정 -->
<!--    spring.thymeleaf.enabled=true  : thymeleaf 사용 설정 -->
<!--    spring.thymeleaf.cache=false  : cache 사용, 사용 시 컴파일한 파일만 사용함, 개발 시에는 미사용 -->

<!--    html 태그에 xmlns:th 속성을 추가하여 해당 html 에서 thymeleaf 를 사용한다는 것을 알려줌 -->


    <h3>표현식</h3>
<!--    변수 표현식 : ${변수명}, Controller에서 전달한 변수를 thymeleaf에서 사용 시 사용 -->
<!--    선택 표현식 : *{변수명}, 변수 표현식과 동일한 역할, 변수의 내용이 object 타입이나, list 타입과 같은 객체 타입일 경우 객체명을 입력하지 않고 필드명으로만 출력할 경우에 사용 -->
    <div>
      <p>html에서 직접 입력한 문자열</p>
      <p th:text="${value01}">서버에서 전달된 데이터로 변환될 문자열</p>
      <p th:text="${value02}">서버에서 전달된 데이터로 변환될 문자열</p>
      <p th:text="${value03}">서버에서 전달된 데이터로 변환될 문자열</p>
      <p th:text="${value02 + value03}">서버에서 전달된 데이터로 변환될 문자열</p>
    </div>

    <br><hr><br>

    <h3>text 출력, th:text</h3>
<!--    thymeleaf에서 텍스트를 출력하기 위한 명령어 -->
<!--    서버에서 전달된 데이터를 html 태그에 출력하기 위해서 사용 -->
<!--    html 태그의 시작 태그와 끝 태그 사이에 데이터를 출력 -->
<!--    messages.properties 파일에 문자열 세트를 미리 생성해 놓고 호출하여 사용할 수 있음 -->
<!--    메세지 리소스 번들 사용 시 #{} 형식을 사용해야 함 -->
<!--    메세지 리소스 번들은 다국어 설정이 지원됨 -->
    <p>html에 직접 입력한 문자열</p>
    <p th:text="${value01}">기본 문자열</p>
    <p th:text="#{hello}">기본 문자열</p>
    <p th:text="#{phone}"></p>
    <p th:text="#{class}"></p>

    <br><hr><br>

    <h3>문자열과 html 태그 출력, th:utext</h3>
<!--    th:utext는 th:text와 기본적으로 동일한 기능을 제공 -->
<!--    th:utext는 html 태그 사용이 가능함 -->
    <p>html에 직접 문자열 출력</p>
    <p>html에 직접 <strong>문자열</strong> 출력</p>
    <p th:text="${utext}">서버에서 전달된 데이터로 변환될 문자열</p>
    <p th:utext="${utext}">서버에서 전달된 데이터로 변환될 문자열</p>

    <br><hr><br>

    <h3>thymeleaf 로 링크 주소 표시</h3>
<!--    thymeleaf에서 url 를 표시할 경우 @{url} 형태로 사용 -->
<!--    웹 디자이너와 협업 시 디자이너가 임시로 입력해 놓은 url과 개발자가 사용할 url을 함께 표기하여 협업이 가능함 -->

<!--    모든 URL에 대해서 @{url} 형식으로 사용이 가능함 -->
    <img src="/images/cat01.jpg" alt="고양이 1"><br>
    <img src="/images/cat04.jpg" alt="고양이 4" th:src="@{/images/cat04.jpg}"><br>

    <!-- 파라미터를 사용할 경우 -->
    <a href="/board/boardDetail.do?boardIdx=" th:attrappend="href=${idx}">파라미터 사용하기 1</a>
<!--    thymeleaf를 사용하여 문자열과 변수 출력을 문자열 연결 연산자로 합해서 url를 생성 -->
    <a th:href="@{'/board/boardDetail.do?boardIdx=' + ${idx}}">파라미터 사용하기 2</a>
<!--    thymeleaf를 사용하여 url에 쿼리스트링을 추가함 -->
    <a th:href="@{/board/boardDetail.do(boardIdx=${idx})}">파라미터 사용하기 3</a>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>









