<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>문제1</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
        $("#btn-cal").on("click", function () {
            const num1 = $("#num1").val();
            const num2 = $("#num2").val();
            const op = $("#op option:selected").val();

            const sendDatas = {num1: num1, num2: num2, op: op};

            $.ajax({
                url: "/ajax/quiz1",
                type: "post",
                data: sendDatas,
                success: function (data) {
                    const div = $("#div-result");
                    div.empty();

                    if (data.result == "success") {
                        let tag = "<hr class='my-4'>";
                        tag += "<label for='result' class='form-label'>실행 결과 : </label>"
                        tag += "<input type='text' class='form-control' id='result' name='result' readonly value='" + data.value + "'>"

                        div.append(tag);
                    }
                },
                error: function () {
                    alert("데이터 통신 중 오류가 발생했습니다.");
                }
            });
        });

        $("#btn-reset").on("click", function () {
            $("#num1").val("");
            $("#num2").val("");
        });
    });
  </script>
</head>
<body>
<div class="container mt-5">
  <h3 class="text-center">문제 1</h3>

  <div class="row">
    <div class="col-sm-4 mx-auto">
      <div class="mt-3">
        <label for="num1" class="form-label">첫번째 숫자 : </label>
        <input type="text" class="form-control" id="num1" name="num1" placeholder="첫번째 숫자를 입력하세요">
      </div>
      <div class="mt-3">
        <label for="op" class="form-label">연산자 선택 : </label>
        <select class="form-control" name="op" id="op">
          <option value="+" selected>+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>
      </div>
      <div class="mt-3">
        <label for="num2" class="form-label">두번째 숫자 : </label>
        <input type="text" class="form-control" id="num2" name="num2" placeholder="두번째 숫자를 입력하세요">
      </div>
      <div class="mt-3">
        <div class="row">
          <div class="col-sm d-grid">
            <button type="button" class="btn btn-primary" id="btn-cal">계산하기</button>
          </div>
          <div class="col-sm d-grid">
            <button type="reset" class="btn btn-secondary" id="btn-reset">다시입력</button>
          </div>
        </div>
      </div>
      <div class="mt-3" id="div-result">

      </div>
    </div>
  </div>
</div>
</body>
</html>









