<!DOCTYPE html>

<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
        $("#btn-list").on("click", function () {
            history.back();
        });

        $("#btn-delete").on("click", function () {
            const frm = $("#frm")[0];
            frm.action = "/board/deleteBoard.do";
            frm.submit();
        });

        $("#btn-edit").on("click", function () {
            const frm = $("#frm")[0];
            frm.action = "/board/updateBoard.do"
            frm.submit();
        });
    });
  </script>
</head>
<body>

<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Logo</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">메뉴 1</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">메뉴 2</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">메뉴 3</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="container">
  <section style="margin-top: 75px;">
    <div class="p-4 text-center border rounded-4 bg-secondary-subtle">
      <h1 class="display-4">게시판 글 상세보기 페이지</h1>
      <h2 class="mt-3"><small>Spring Web MVC 로 만든 게시판</small></h2>
    </div>
  </section>

  <section>
    <form method="post" id="frm">
      <div class="row mt-4">
        <div class="col-sm-1">
          <div class="form-floating">
            <input type="text" class="form-control" id="board-idx" name="boardIdx" readonly placeholder="글번호" th:value="${board.boardIdx}">
            <label for="board-idx">글번호</label>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-floating">
            <input type="text" class="form-control" id="title" name="title" placeholder="글제목" th:value="${board.title}">
            <label for="title">글제목</label>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-floating">
            <input type="text" class="form-control" id="hit-cnt" name="hitCnt" readonly placeholder="조회수" th:value="${board.hitCnt}">
            <label for="hit-cnt">조회수</label>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm">
          <div class="form-floating">
            <input type="text" class="form-control" id="create-date" name="createDate" readonly placeholder="등록일" th:value="${board.createDate}">
            <label for="create-date">등록일</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating">
            <input type="text" class="form-control" id="create-user" name="createUser" readonly placeholder="등록ID" th:value="${board.createUser}">
            <label for="create-user">등록ID</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating">
            <input type="text" class="form-control" id="update-date" name="updateDate" readonly placeholder="수정일" th:value="${board.updateDate}">
            <label for="update-date">수정일</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating">
            <input type="text" class="form-control" id="update-user" name="updateUser" placeholder="수정ID" th:value="${board.updateUser}">
            <label for="update-user">수정ID</label>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm">
          <div class="form-floating">
            <textarea class="form-control" id="contents" name="contents" placeholder="내용" th:text="${board.contents}" style="height: 150px"></textarea>
            <label for="contents">내용</label>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm border rounded-2 px-3 mx-3 py-2" th:if="${#lists.size(board.fileList)} > 0">
          <label for="files" class="form-label">첨부 파일 : </label>
          <a href="#" class="btn btn-link" id="files" th:each="list : ${board.fileList}" th:text="|${list.originalFileName} (${list.fileSize} kb)|" th:href="@{/board/dowonloadBoardFile.do(fileIdx=${list.fileIdx}, boardIdx=${list.boardIdx})}">첨부파일</a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm">
          <button type="button" class="btn btn-secondary" id="btn-list">목록</button>
        </div>
        <div class="col-sm d-flex justify-content-end">
          <button type="button" class="btn btn-danger me-2" id="btn-delete">삭제</button>
          <button type="button" class="btn btn-warning" id="btn-edit">수정</button>
        </div>
      </div>
    </form>
  </section>
</main>

<footer class="border-top mt-5 p-sm-5">
  <div class="text-center">
    <p class="lead text-muted">made by fullstack405</p>
  </div>
</footer>

</body>
</html>











